<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Search Engine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Search Engine</h1>
      <form id="search-form">
        <input id="search-input" type="text" placeholder="Search...">
        <button id="search-button" type="submit">Search</button>
      </form>
      <div id="results-container"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
